<div class="column-5-4">
  <div class="user-questions buffer-both">
    <div class="questions-list little-medium">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>